<% provide(:title) %>

<% if signed_in? %>

  <div class="row">
    <aside class="col-xs-6 col-md-4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/post_form' %>
      </section>
    </aside>

    <div class="col-xs-12 col-md-8">
      <h3>All posts</h3>
      <%= render 'shared/search' %>
      <%= render 'shared/feed' %>
    </div>
  </div>

<% else %>

  <div class="center jumbotron">
    <%= image_tag("brain_gears_red.png", width: "450px", alt: "Image") %>
    <p>Welcome to Being Mindful</p>
    <p><%= link_to("Sign up now!", signup_path, class: "btn-lg btn-primary") %></p>
  </div>

<% end %>