<% provide(:title, "Sign in") %>

<div class="row">
<div class="well col-sm-8 col-md-8 col-lg-6">
<%= form_for(:session, url: sessions_path, html: { class: "form" }) do |f| %>

  <%= f.label :email %><br />
  <%= f.text_field :email, placeholder: "@"  %><br />

  <%= f.label :password %><br />
  <%= f.password_field :password %><br />

  <%= f.button "Sign in", id: "button", class: "btn btn-primary" %>

<% end %>

<div class="sign-up">New user? <%= link_to "Sign up now!", signup_path %></div>
</div>
</div>




