<% provide(:title, "Sign in") %>

<div class="content">
    <h2 class="content-head is-center">Sign in</h2>
  <div class="pure-input-2-3 pure-u-md-2-5">
    <div class="pure-form pure-form-stacked">
        <%= form_for(:session, url: sessions_path) do |f| %>

          <%= f.label :email %>
          <%= f.text_field :email, placeholder: "@"  %>

          <%= f.label :password %>
          <%= f.password_field :password%>

          <%= f.button "Sign in", class: "pure-button", id: "small-btn" %>


        <% end %>
        <div class="sign-up">New user? <%= link_to "Sign up now!", signup_path %></div>
    </div>
  </div>
</div>
