
<%= form_for(@user, html: { class: "form" }) do |f| %>
<%= render 'shared/error_messages', object: f.object %><br />

  <div class="col-sm-4 col-md-4 col-lg-4">
    <%= f.label :name %><br />
    <%= f.text_field :name %><br />

    <%= f.label :email %><br />
    <%= f.text_field :email, placeholder: "@"  %><br />

    <%= f.label :password %><br />
    <%= f.password_field :password%><br />
    
    <%= f.label :password_confirmation, "Confirmation" %><br />
    <%= f.password_field :password_confirmation %><br />
  </div>

<% end %>

<%= form_for(@user) do |f| %>

  <div class="col-sm-6 col-md-6 col-lg-6">

    <%= f.label :summary %><br>
    <%= f.bootsy_area :summary, rows: 5 %><br>

    <%= f.label :injury_year %><br>
    <%= f.text_field :injury_year %><br>
    
    <%= f.label :gender %>
    <%= f.radio_button :gender, "True" %>Male

    <%= f.radio_button :gender, "False" %>Female<br>
  
    <%= f.button "Save changes", class: "btn btn-primary", id: "button" %>
  </div>



<% end %>
