<% provide(:title, "Sign up") %>

<div class="content">
    <h2 class="content-head is-center">Sign up</h2>
  <div class="pure-input-2-3 pure-u-md-2-5">
    <div class="pure-form pure-form-stacked">
        <%= form_for(@user) do |f| %>
          <%= render 'shared/error_messages' %>

          <%= f.label :name %>
          <%= f.text_field :name %>

          <%= f.label :email %>
          <%= f.text_field :email, placeholder: "@"  %>

          <%= f.label :password %>
          <%= f.password_field :password%>

          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation %>

          <div id="small_btn">
            <%= f.submit "Create my account", class: "pure-button" %>
          </div>

        <% end %>
    </div>
  </div>
</div>