<% provide(:title, "Sign up") %>

  <h2>Sign up</h2>

<div class="well">
  <%= form_for(@user, html: { class: "form" }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :name %><br />
    <%= f.text_field :name %><br />

    <%= f.label :email %><br />
    <%= f.text_field :email, placeholder: "@"  %><br />

    <%= f.label :password %><br />
    <%= f.password_field :password%><br />

    <%= f.label :password_confirmation, "Confirmation" %><br />
    <%= f.password_field :password_confirmation %><br />

    <%= f.button "Create my account", class: "btn btn-primary", id: "button" %>

  <% end %>
</div>
