<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-sm-4 col-md-4 col-lg-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %><br />
        <div class="user-title">
          Username: <br />
        </div>
        <div class="username">
          <%= @user.username %>
        </div>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= render 'follow_form' if signed_in? %>
    </section>
    <section class="well">
      <div class="summary-label">
        About: <br>
      </div>
      <div class="summary">
        <%= @user.summary.html_safe %><br>
      </div>
      <div class="injury-label">
        Accident year: <br>
      </div>
      <div class="injury">
        <%= @user.injury_year %>
      </div>
      <div class="injury-label">
        Gender: <br>
      </div>
      <div class="gender">
        <%= @user.gender %>
      </div>
    </section>
  </aside>

  <div class="col-sm-8 col-md-8 col-lg-8">    
    <% if @user.posts.any? %>
      <h3><%= pluralize(current_user.posts.count, "post") %></h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
</div>

